
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# SITA Specific
uploads/
downloads/
data/
dataset_raw/
archive/
*.pt
sita.db
!yolov8s.pt

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
